{% extends "base.html" %}
{% block title %}freeboard_form.html{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}
{% block content %}
<body>
    <style>
        .question{width:100%;border-top:2px solid #bdbdbd;border-bottom:2px solid #bdbdbd;font-family:"NanumGothic",sans-serif;}
        .question .qtit{text-align:left; margin:50px 0 10px 0;}
        .question tr{border-top:1px solid #cdcdcd;}
        .question tr:first-child{border-top:0;}
        .question th{background:#f6f6f6; width:20%;text-align:left; padding-left:3%}
        .question td{text-align:left;background:#fff;padding-top:1%!important;padding-bottom:1%!important;color:#5c5c5c;font-size:15px;line-height:26px;padding-left:3%}
        .question input[type="text"],
        .question select{margin-right:1%;color:#5c5c5c;line-height:12px;font-size:14px;font-family:"NanumGothic",sans-serif;background:#f6f6f6;vertical-align:middle;border:1px solid #cdcdcd;padding:1%;}
        .question select{padding:0.9%;}
        .question textarea{vertical-align:middle;border:1px solid #cdcdcd; width:94%; height:100px;background:#f6f6f6;padding:1%}
        .question label{margin-right:1%;}
        .question .button{margin-right:1%;line-height:12px;font-size:14px;font-family:"NanumGothic",sans-serif;background:#5e5e5e;vertical-align:middle;border:1px solid #5e5e5e;padding:1%; cursor:pointer;}
        .question .button a{color:#fff;}
        .question .add{margin-top:1%;}
        .question .wid10{width:10%;}
        .question .wid20{width:20%;}
        .question .wid30{width:30%;}
        .question .wid53{width:49%;}

        .btngreen{margin-top:30px;}
        .btngreen input{width:8%;margin:0 auto;display:block;padding:0.7em 1.5em 0.8em 1.5em;font-size:16px;color:#fff;border:1px solid #008d2d;border-radius:2em;background:#008d2d; text-align:center;letter-spacing:-0.5px; font-weight:bold;}
        .btngreen input :hover{background:#fff;color:#008d2d;}
    </style>
<div id="content">
    <h1>Board Create/Update - {{user}}</h1>
    {% if form.is_multipart %}
    <form enctype="multipart/form-data" method="post" action=".">
    {% else %}
    <form method="post" action="{%url 'freeboard:board'%}">
    {% endif %}
    
    {% csrf_token %}
    {% if form.errors %}
    <p class="errornote">Wrong! Please correct the error(s) below.</p>
    {% endif %}
    <p>This is a creation or update form for your photo.</p>

    <table class="question">
        <caption class="qtit"></caption>
            <tr>
                <th class="th" scope="row" >이미지</th>
                <td>
                    <div class="form-row">
                        {{ form.image }}
                    </div>
                </td>
            </tr>
            <tr>
                <th class="th" scope="row">제목</th>
                <td>
                    <div class="form-row">
                        {{ form.title }}
                    </div>
                </td>
            </tr>
            <tr>
                <th class="th" scope="row">문장 작성</th>
                <td>
                    <div class="form-row"></div>
                        {{ form.body }}
                    </div>
                </td>
            </tr>
            <tr>
                <th class="th" scope="row">평점</th>
                <td>
                    <div class="form-row">
                        {{ form.star }}
                    </div>     
                </td>
            </tr>
            <script type="text/javascript">document.getElementById('id_album').focus();</script>
  </table>
      <div class="btngreen">
            <input type="submit" class="Btn" value="작성"/>
      </div>
</form>
</body>
{% endblock %}