{% extends "base.html" %}

{% block title %}freeboard_detail.html{% endblock %}

{% load staticfiles %}

{% block extrastyle %}
{% endblock %}

{% block content %}
<br><br><br>
<div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
           
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img class="card-img-top" src="{{ object.image.url }}" alt=" Card image cap">
                  <div class="card-body">
                    <h1>{{object.title }}</h1>
                    <p class="card-text">{{ object.body }}</p>
                    <p><img src="{{object.star.img.url}}"></p>
                  </div>
                </div>
              </div>

          <p>{{object.upload_date}}</p>
          </div>
     </div>
</div>
{% endblock %}

