
{% extends "base.html" %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

</head>
{%block content%}
<body>
 

  <div id="home">
    <div class="slider">
      <div id="about-slider">
        <div id="carousel-slider" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators visible-xs">
            <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-slider" data-slide-to="1"></li>
            <li data-target="#carousel-slider" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner">
            <div class="item active">
              <img src='{% static "images/trip2.jpg" %}' class="img-responsive" alt="">
            </div>
            <div class="item">
              <img src='{% static "images/trip2.jpg" %}' class="img-responsive" alt="">
            </div>
            <div class="item">
              <img src='{% static "images/trip2.jpg" %}' class="img-responsive" alt="">
            </div>
          </div>

          <a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>

          <a class=" right carousel-control hidden-xs" href="#carousel-slider" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
        <!--/#carousel-slider-->
      </div>
      <!--/#about-slider-->
    </div>
  </div>

  <section id="about">
    <div class="container">
      <div class="center">
        <div class="col-md-6 col-md-offset-3">
          <h2>About 모드니 나들이</h2>
          <hr>
          <p class="lead">"모드니 나들이"는 세상과 만나는 문을 열어드립니다.</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-6 wow fadeInRight">
          <img src='{% static "images/trip5.jpg" %}' class="img-responsive" />
          <em><strong><h3><hr>차이는 있지만 차별은 없습니다.<hr></h3></strong></em>

        </div>
        <!--/.col-sm-6-->

        <div class="col-sm-6 wow fadeInDown">
          <div class="accordion">
            <div class="panel-group" id="accordion1">
              <div class="panel panel-default">
                <div class="panel-heading active">
                  <h3 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                      모드니 나들이?
                      <i class="fa fa-angle-right pull-right"></i>
                    </a>
                  </h3>
                </div>

                <div id="collapseOne1" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <div class="media accordion-inner">
                      <div class="media-body">
                        <h4>모드니란,</h4>
                        <p>순우리말로 모든 것을 가진 사람이라는 의미를 지닙니다. 따라서 우리 사이트는 서로 도와 더불어 사는 삶을 산다면, 모든 이가 
                          세상에 있는 모든 것을 가진 사람처럼 행복해진다는 뜻을 담고 있습니다.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                        모드니 나들이's motivation
                        <i class="fa fa-angle-right pull-right"></i>
                      </a>
                    </h3>
                  </div>
                  <div id="collapseTwo1" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>거동이 불편하신 분들도 여행을 편하게, 즐겁게 다닐수 있는 권리를 보장해드리고자 편리한 시설을 한눈에 알려주고,
                        1:1 자원봉사자들 또한 매칭시켜주는 웹사이트를 제작하게되었습니다. 
                      </p>
                      <br>
                    </p>
                    </div>
                  </div>
                </div>
              

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                      모드니 나들이's 장점
                      <i class="fa fa-angle-right pull-right"></i>
                    </a>
                  </h3>
                </div>
                <div id="collapseThree1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>1. 여행지의 경로를 휠체어 경로가 잘 구비되어있는 지역으로 설정
                    <br>
                    2. 장애인 편의시설(장애인 화장실 , 엘리베이터 , 경사로 등등)이 잘 구비된 지역
                    <br>
                    3. 시각장애를 위한 촉각 게시물 , 청각장애를 위한 수화통역사가 있는 관광지
                    <br>
                  </p>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
                      모드니 나들이's Special Advantage
                      <i class="fa fa-angle-right pull-right"></i>
                    </a>
                  </h3>
                </div>
                <div id="collapseFour1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>1.필요시 복지관과 협조하여 VMS에서 자원봉사 학생들을 섭외하여 함께 여행을 즐길 수 있다.
                    <br>
                    2.휠체어 리프트가 있는 벤을 기아자동차 초록여행을 통해 무상으로 빌릴 수 있게 도와준다.
                    <br>
                    </p>
                  </div>
                </div>
              </div>

            </div>
            <!--/#accordion1-->
          </div>
        </div>

      </div>
      <!--/.row-->
    </div>
    <!--/.container-->
  </section>
  <!--/#about-->

  <section id="portfolio">
    <div class="container">
      <div class="center">
        <div class="col-md-6 col-md-offset-3">
          <h2>여행지를 소개합니다</h2>
          <hr>
          <p class="lead">수도권, 특정지역 국내여행지를 소개합니다</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="col-lg-12">
        <ul class="portfolio-filter text-center">
          <li><a class="btn btn-default active" href="#" data-filter="*">모두</a></li>
          <li><a class="btn btn-default" href="#" data-filter=".seoul">서울</a></li>
          <li><a class="btn btn-default" href="#" data-filter=".kyeongki">경기 </a></li>
          <li><a class="btn btn-default" href="#" data-filter=".provinces">지방</a></li>
        </ul>
        <!--/#portfolio-filter-->

        <div class="row">
          <div class="portfolio-items">
            <div class="portfolio-item seoul col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src='{% static "images/portfolio/recent/place1.jpg" %}' alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h3><a href="{% url 'gbg'%}">경복궁</a></h3>
                   
                    <a class="preview" href='{% static "images/portfolio/full/place1.jpg"%}' rel="prettyPhoto">
                      </a>
                  </div>
                </div>
              </div>
            </div>
            <!--/.portfolio-item-->

            <div class="portfolio-item  seoul col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src='{% static "images/portfolio/recent/place3.jpg" %}' alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h3><a href="{% url 'centralmuseum'%}">국립중앙박물관</a></h3>
                    
                    <a class="preview" href='{% static "images/portfolio/full/place3.jpg" %}' rel="prettyPhoto">
                      </a>
                  </div>
                </div>
              </div>
            </div>
            <!--/.portfolio-item-->

            <div class="portfolio-item provinces col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src='{% static "images/portfolio/recent/place8.jpg" %}' alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h3><a href="{% url 'suncheon'%}">순천</a></h3>
                    
                    <a class="preview" href='{% static "images/portfolio/full/place8.jpg" %}' rel="prettyPhoto">
                      </a>
                  </div>
                </div>
              </div>
            </div>
            <!--/.portfolio-item-->

            <div class="portfolio-item kyeongki col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src='{% static "images/portfolio/recent/place7.jpg" %}' alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h3><a href="{% url 'nami'%}">남이섬</a></h3>
                    
                    <a class="preview" href='{% static "images/portfolio/full/place7.jpg" %}' rel="prettyPhoto">
                      </a>
                  </div>
                </div>
              </div>
            </div>
            <!--/.portfolio-item-->

            <div class="portfolio-item provinces col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src='{% static "images/portfolio/recent/place9.jpg" %}' alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h3><a href="{% url 'suncheon'%}">순천</a></h3>
                   
                    <a class="preview" href='{% static "images/portfolio/full/place9.jpg" %}' rel="prettyPhoto">
                      </a>
                  </div>
                </div>
              </div>
            </div>
            <!--/.portfolio-item-->

            <div class="portfolio-item provinces col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src='{% static "images/portfolio/recent/place11.jpg" %}' alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h3><a href="{% url 'busan'%}">부산</a></h3>
                    
                    <a class="preview" href='{% static "images/portfolio/full/place11.jpg" %}' rel="prettyPhoto">
                      </a>
                  </div>
                </div>
              </div>
            </div>
            <!--/.portfolio-item-->

            <div class="portfolio-item  seoul col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src='{% static "images/portfolio/recent/place2.jpg" %}'  alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h3><a href="{% url 'changdeok'%}">창덕궁</a></h3>
                    
                    <a class="preview" href='{% static "images/portfolio/full/place2.jpg" %}' rel="prettyPhoto">
                      </a>
                  </div>
                </div>
              </div>
            </div>
            <!--/.portfolio-item-->

            <div class="portfolio-item kyeongki col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src='{% static "images/portfolio/recent/place4.jpg" %}' alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h3><a href="{% url 'minsokchon'%}">민속촌</a></h3>
                    
                    <a class="preview" href='{% static "images/portfolio/full/place4.jpg" %}' rel="prettyPhoto">
                      </a>
                  </div>
                </div>
              </div>
            </div>
            <!--/.portfolio-item-->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/#portfolio-item-->

  <section id="features">
    <div class="container">
      <div class="row">
        <div class="center">
          <div class="col-md-6 col-md-offset-3">
            <h2>Developer</h2>
            <hr>
            <p class="lead">모드니 나들이 개발자를 소개합니다</p>
          </div>
        </div>

        <div class="col-md-4 wow fadeInLeft">
          <h3>Kim min gyo</h3>
          <img src='{% static "images/portfolio/recent/item4.png" %}' alt="">
          <p>Email : kmg6950@likelion.org</p>
        </div>

        <div class="col-md-4 wow fadeInUp">
          <h3>Shin se young</h3>
          <img src='{% static "images/portfolio/recent/item5.png" %}' alt="">
          <p>Email : sys980909@likelion.org</p>
        </div>
       
        
        <div class="col-md-4 wow fadeInRight">
          <h3>Park min ju</h3>
          <img src='{% static "images/portfolio/recent/item6.png" %}' alt="">
          <p>Email : ttrnydr@likelion.org</p>
        </div>
      </div>
    </div>
  </section>

  <footer id="footer" class="midnight-blue">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="text-center">
            <a href="#home" class="scrollup"><i class="fa fa-angle-up fa-3x"></i></a>
          </div>
          &copy; OnePage Theme. All Rights Reserved.
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=OnePage
            -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>

        <div class="top-bar">
          <div class="col-lg-12">
            <div class="social">
              <ul class="social-share">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-skype"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--/#footer-->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src='{% static "js/jquery.js"%}'></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src='{% static "js/bootstrap.min.js"%}'></script>
  <script src='{% static "js/jquery.isotope.min.js"%}'></script>
  <script src='{% static "js/wow.min.js" %}'></script>
  <script src='{% static "js/jquery.easing.min.js" %}'></script>
  <script src='{% static "js/main.js" %}'></script>
  <script src='{% static "contactform/contactform.js" %}'></script>
  
{%endblock%}